[submodule "tins"]
	path = third_party/tins
	url = https://github.com/mfontanini/libtins.git
[submodule "third_party/libdabip"]
	path = third_party/libdabip
	url = https://github.com/Opendigitalradio/libdabip.git
[submodule "third_party/libdabdemod"]
	path = third_party/libdabdemod
	url = https://github.com/Opendigitalradio/libdabdemod.git
[submodule "third_party/libdabdecode"]
	path = third_party/libdabdecode
	url = https://github.com/Opendigitalradio/libdabdecode.git
[submodule "third_party/libdabdevice"]
	path = third_party/libdabdevice
	url = https://github.com/Opendigitalradio/libdabdevice.git
[submodule "build/third_party/asio"]
	path = build/third_party/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio.git
